/*
 * cluster
 */

// Keep in sync with: src/js/layouts/_cluster.css.ts

.rl-cluster {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    gap: var(--rl-gap-default);
}
