/*
 * divider
 */

// Keep in sync with: src/js/layouts/_divider.css.ts

.rl-divider {
    align-self: stretch;
    border: none;
    margin: 0;

    /* horizontal */
    width: 100%;
    height: 0;
    border-top: var(--rl-border-default);
}

.rl-divider {
    &.vertical {
        /* vertical */
        width: 0;
        height: 100%;
        border-left: var(--rl-border-default);
    }
}
