/*
 * flank
 */

.gr-flank {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--gr-gap-default);

    &>:last-child {
        flex-basis: 0;
        flex-grow: 999;
    }
}

.gr-flank-end {
    &>:first-child {
        flex-basis: 0;
        flex-grow: 999;
    }
    &>:last-child {
        flex-basis: auto;
        flex-grow: 0;
    }
}
