/*
 * flank
 */

// Keep in sync with: src/js/layouts/_flank.css.ts

.rl-flank {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--rl-gap-default);

    &>:last-child {
        flex-basis: 0;
        flex-grow: 999;
    }
}

.rl-flank-end {
    &>:first-child {
        flex-basis: 0;
        flex-grow: 999;
    }
    &>:last-child {
        flex-basis: auto;
        flex-grow: 0;
    }
}
