/*
 * frame
 */

// Keep in sync with: src/js/layouts/_frame.css.ts

.rl-frame {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    overflow: visible;

    & > * {
        max-width: 100%;
        max-height: 100%;   /* cap to available height */
        overflow: auto;     /* scrolls internally if needed */
        -webkit-overflow-scrolling: touch;
    }

    & > img {
        display: block;
        width: auto;
        height: auto;
        object-fit: contain; /* preserve aspect ratio */
    }
}
