/*
 * grid
 */

// Keep in sync with: src/js/layouts/_grid.css.ts

.rl-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--rl-grid-s), 1fr));
    gap: var(--rl-gap-default);
}

.rl-grid-fit-xs { grid-template-columns: repeat(auto-fit, minmax(var(--rl-grid-xs), 1fr)); }
.rl-grid-fit-s { grid-template-columns: repeat(auto-fit, minmax(var(--rl-grid-s), 1fr)); }
.rl-grid-fit-m { grid-template-columns: repeat(auto-fit, minmax(var(--rl-grid-m), 1fr)); }
.rl-grid-fit-l { grid-template-columns: repeat(auto-fit, minmax(var(--rl-grid-l), 1fr)); }
.rl-grid-fit-xl { grid-template-columns: repeat(auto-fit, minmax(var(--rl-grid-xl), 1fr)); }
.rl-grid-fit-2xl { grid-template-columns: repeat(auto-fit, minmax(var(--rl-grid-2xl), 1fr)); }

.rl-grid-fill-xs { grid-template-columns: repeat(auto-fill, minmax(var(--rl-grid-xs), 1fr)); }
.rl-grid-fill-s { grid-template-columns: repeat(auto-fill, minmax(var(--rl-grid-s), 1fr)); }
.rl-grid-fill-m { grid-template-columns: repeat(auto-fill, minmax(var(--rl-grid-m), 1fr)); }
.rl-grid-fill-l { grid-template-columns: repeat(auto-fill, minmax(var(--rl-grid-l), 1fr)); }
.rl-grid-fill-xl { grid-template-columns: repeat(auto-fill, minmax(var(--rl-grid-xl), 1fr)); }
.rl-grid-fill-2xl { grid-template-columns: repeat(auto-fill, minmax(var(--rl-grid-2xl), 1fr)); }
