/*
 * grid
 */

 .gr-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--gr-grid-s), 1fr));
    gap: var(--gr-gap-default);
}

.gr-grid-fit-xs { grid-template-columns: repeat(auto-fit, minmax(var(--gr-grid-xs), 1fr)); }
.gr-grid-fit-s { grid-template-columns: repeat(auto-fit, minmax(var(--gr-grid-s), 1fr)); }
.gr-grid-fit-m { grid-template-columns: repeat(auto-fit, minmax(var(--gr-grid-m), 1fr)); }
.gr-grid-fit-l { grid-template-columns: repeat(auto-fit, minmax(var(--gr-grid-l), 1fr)); }
.gr-grid-fit-xl { grid-template-columns: repeat(auto-fit, minmax(var(--gr-grid-xl), 1fr)); }
.gr-grid-fit-2xl { grid-template-columns: repeat(auto-fit, minmax(var(--gr-grid-2xl), 1fr)); }

.gr-grid-fill-xs { grid-template-columns: repeat(auto-fill, minmax(var(--gr-grid-xs), 1fr)); }
.gr-grid-fill-s { grid-template-columns: repeat(auto-fill, minmax(var(--gr-grid-s), 1fr)); }
.gr-grid-fill-m { grid-template-columns: repeat(auto-fill, minmax(var(--gr-grid-m), 1fr)); }
.gr-grid-fill-l { grid-template-columns: repeat(auto-fill, minmax(var(--gr-grid-l), 1fr)); }
.gr-grid-fill-xl { grid-template-columns: repeat(auto-fill, minmax(var(--gr-grid-xl), 1fr)); }
.gr-grid-fill-2xl { grid-template-columns: repeat(auto-fill, minmax(var(--gr-grid-2xl), 1fr)); }
