/*
 * split
 */

// Keep in sync with: src/js/layouts/_split.css.ts

.rl-split {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: var(--rl-gap-default);
}

.rl-split-equal > * {
    flex: 1 1 0;
    min-width: 0; /* prevents overflow */
}
