// gap
.gr-gap-0 { gap: var(--gr-space-0); }
.gr-gap-xs { gap: var(--gr-space-xs); }
.gr-gap-s { gap: var(--gr-space-s); }
.gr-gap-m { gap: var(--gr-space-m); }
.gr-gap-l { gap: var(--gr-space-l); }
.gr-gap-xl { gap: var(--gr-space-xl); }
.gr-gap-2xl { gap: var(--gr-space-2xl); }
