// gap
.graal--gap-0 { gap: var(--graal-space-0); }
.graal--gap-xs { gap: var(--graal-space-xs); }
.graal--gap-s { gap: var(--graal-space-s); }
.graal--gap-m { gap: var(--graal-space-m); }
.graal--gap-l { gap: var(--graal-space-l); }
.graal--gap-xl { gap: var(--graal-space-xl); }
.graal--gap-2xl { gap: var(--graal-space-2xl); }
