// gap

// Keep in sync with: src/js/mods/_gap.css.ts

.rl-gap-0 { gap: var(--rl-space-0); }
.rl-gap-xs { gap: var(--rl-space-xs); }
.rl-gap-s { gap: var(--rl-space-s); }
.rl-gap-m { gap: var(--rl-space-m); }
.rl-gap-l { gap: var(--rl-space-l); }
.rl-gap-xl { gap: var(--rl-space-xl); }
.rl-gap-2xl { gap: var(--rl-space-2xl); }
