// height

// Keep in sync with: src/js/mods/_height.css.ts

.rl-height-full { 
    height: 100%; 
    overflow-y: auto;
}

.rl-height-fill {
    flex: 1 1 0; /* allow to grow and shrink, base size 0 */
    min-height: 0; /* prevents overflow issues */
    height: auto;   /* let flexbox control the height */
    overflow-y: auto;
}
