// padding
.gr-padding-0 { padding: var(--gr-space-0); }
.gr-padding-xs { padding: var(--gr-space-xs); }
.gr-padding-s { padding: var(--gr-space-s); }
.gr-padding-m { padding: var(--gr-space-m); }
.gr-padding-l { padding: var(--gr-space-l); }
.gr-padding-xl { padding: var(--gr-space-xl); }
.gr-padding-2xl { padding: var(--gr-space-2xl); }
