// padding

// Keep in sync with: src/js/mods/_padding.css.ts

.rl-padding-0 { padding: var(--rl-space-0); }
.rl-padding-xs { padding: var(--rl-space-xs); }
.rl-padding-s { padding: var(--rl-space-s); }
.rl-padding-m { padding: var(--rl-space-m); }
.rl-padding-l { padding: var(--rl-space-l); }
.rl-padding-xl { padding: var(--rl-space-xl); }
.rl-padding-2xl { padding: var(--rl-space-2xl); }

.rl-padding-x-0 { padding-inline: var(--rl-space-0); }
.rl-padding-x-xs { padding-inline: var(--rl-space-xs); }
.rl-padding-x-s { padding-inline: var(--rl-space-s); }
.rl-padding-x-m { padding-inline: var(--rl-space-m); }
.rl-padding-x-l { padding-inline: var(--rl-space-l); }
.rl-padding-x-xl { padding-inline: var(--rl-space-xl); }
.rl-padding-x-2xl { padding-inline: var(--rl-space-2xl); }

.rl-padding-y-0 { padding-block: var(--rl-space-0); }
.rl-padding-y-xs { padding-block: var(--rl-space-xs); }
.rl-padding-y-s { padding-block: var(--rl-space-s); }
.rl-padding-y-m { padding-block: var(--rl-space-m); }
.rl-padding-y-l { padding-block: var(--rl-space-l); }
.rl-padding-y-xl { padding-block: var(--rl-space-xl); }
.rl-padding-y-2xl { padding-block: var(--rl-space-2xl); }
