// padding
.graal--padding-0 { padding: var(--graal-space-0); }
.graal--padding-xs { padding: var(--graal-space-xs); }
.graal--padding-s { padding: var(--graal-space-s); }
.graal--padding-m { padding: var(--graal-space-m); }
.graal--padding-l { padding: var(--graal-space-l); }
.graal--padding-xl { padding: var(--graal-space-xl); }
.graal--padding-2xl { padding: var(--graal-space-2xl); }
