// padding

// Keep in sync with: src/js/mods/_padding.css.ts

.rl-padding-0 { padding: var(--rl-space-0); }
.rl-padding-xs { padding: var(--rl-space-xs); }
.rl-padding-s { padding: var(--rl-space-s); }
.rl-padding-m { padding: var(--rl-space-m); }
.rl-padding-l { padding: var(--rl-space-l); }
.rl-padding-xl { padding: var(--rl-space-xl); }
.rl-padding-2xl { padding: var(--rl-space-2xl); }
