// radius

// Keep in sync with: src/js/mods/_radius.css.ts

.rl-radius-0 { border-radius: var(--rl-space-0); }
.rl-radius-xs { border-radius: var(--rl-space-xs); }
.rl-radius-s { border-radius: var(--rl-space-s); }
.rl-radius-m { border-radius: var(--rl-space-m); }
.rl-radius-l { border-radius: var(--rl-space-l); }
.rl-radius-xl { border-radius: var(--rl-space-xl); }
.rl-radius-2xl { border-radius: var(--rl-space-2xl); }