// radius
.gr-radius-0 { border-radius: var(--gr-space-0); }
.gr-radius-xs { border-radius: var(--gr-space-xs); }
.gr-radius-s { border-radius: var(--gr-space-s); }
.gr-radius-m { border-radius: var(--gr-space-m); }
.gr-radius-l { border-radius: var(--gr-space-l); }
.gr-radius-xl { border-radius: var(--gr-space-xl); }
.gr-radius-2xl { border-radius: var(--gr-space-2xl); }