// width limits
.gr-width-xs { max-width: var(--gr-width-xs); margin: 0 auto; }
.gr-width-s { max-width: var(--gr-width-s); margin: 0 auto; }
.gr-width-m { max-width: var(--gr-width-m); margin: 0 auto; }
.gr-width-l {  max-width: var(--gr-width-l); margin: 0 auto; }
.gr-width-xl { max-width: var(--gr-width-xl); margin: 0 auto; }
.gr-width-2xl { max-width: var(--gr-width-2xl); margin: 0 auto; }
