// nowrap

// Keep in sync with: src/js/mods/_wrapping.css.ts

.rl-nowrap { 
    flex-wrap: nowrap;
}

.rl-nowrap-scroll { 
    display: flex;
    flex-wrap: nowrap; 
    overflow-x: auto; // enable horizontal scrolling
    overflow-y: hidden; // hide vertical scrollbar
    -webkit-overflow-scrolling: touch; // ios smooth scrolling
    scrollbar-gutter: stable; // prevent layout shift when scrollbar appears
}

.rl-nowrap-scroll > * {
    flex: 0 0 auto; // keep each child item at its ideal width; causes horizontal overflow
}

.rl-wrap-reverse {
    flex-wrap: wrap-reverse;
}